.cap{
  position: relative;
  transition: 0.3s;
  animation: steps(5);

 
}
.block{
    overflow: hidden;
    width: 66px;
    height: 135px;
    border: 1px solid black;
    
}
#sub:hover .cap{
    transform: translate(-396px,0);
    transition: 0.3s;
    animation: steps(5);
    animation: infinite;
}

.subz {
    position: relative;
    width: 66px;
    height: 135px;
    background-image: url(../img/sheet.jpg);
    
  }


@keyframes move {
    from { background-position-x: -66px; }
    to { background-position-x: -396px; }
 }
 .subz:hover {
    animation: move 0.3s steps(5) infinite;
 }