.subz {
  position: relative;
  width: 66px;
  height: 135px;
  background-image: url(../img/sheet.jpg);

}


@keyframes move {
  0% {
    background-position: 0px 0;
  }

  100% {
    background-position: -462px 0;
  }
}

.subz:hover {
  animation: move 1s steps(7) infinite;
}