body {
    background-color: #ff756f;
}

.cont {
    background-color: white;
    position: relative;
    z-index: 5;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: flex;
    width: 100px;
    height: 50px;
    background-image: url(../pic/logo.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

}

.menu {
    display: flex;
    width: 500px;
    height: 50px;
    justify-content: center;
}

ul {
    display: flex;

    padding: 0;
    justify-content: center;
}

li {
    list-style: none;
    padding: 0 10px 0 10px;

}

li a {
    text-decoration: none;
    color: grey;
    font-size: 18px;

}

.input {
    display: flex;
    width: 110px;
    height: 45px;
}

#cat_tray {
    border: 1px solid grey;
    color: grey;
    background-color: white;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    margin-top: 10%;
}

.main {
    margin: 50px;
    display: flex;
    width: 30%;
}

.pic {
    display: flex;
}

.text {
    display: block;
}

/* 
.red {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: rgb(241, 117, 117);
border: 1px black solid;
    z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
    
    
} */
.sherm {
    height: 260px;
    width: 260px;
    border-radius: 50%;
    background-image: url(../pic/shetm.svg);
    z-index: 5;
    background-size: 150%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;


}

/* .red70 {
    height: 340px;
    width: 340px;
    border-radius: 50%;
    background-color: rgb(241, 117, 117);
    z-index: 2;
    border: 1px black solid;
    opacity: 0.6;
    display: flex;
  align-items: center;
  justify-content: center;
} */

.red50 {
    height: 380px;
    width: 380px;
    border-radius: 50%;
    background: radial-gradient(closest-side,
            #ff756f 80%,
            #fea09b 80%, #fea09b 90%,
            #fee3e3 90%, #fee3e3 100%);
    position: absolute;
    right: -95px;
    top: 29%;


    z-index: 1;
}