/* 
ul {
  background: rgb(184, 137, 236);
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  background: rgb(184, 137, 236);
  display: block;
  float: left;
  padding: 20px;
  position: relative;
  text-decoration: none;
}



li:hover {
  background: rgba(86, 182, 247, 0.76);
  cursor: pointer;
}

ul li ul li {
  clear: both;
  width: 100%;
}
 */
nav {
  display: block;
  width: 100%;
  margin: 0 auto 10%;
}

a.hor_menu {
  text-decoration: none;
  display: block;
  padding: 1em;
  border-right: 1px solid #ADC0CE;
  background: rgba(199, 115, 248, 0.3);
  color: #000000;
}

ul.hor_menu {
  list-style: none;
  margin: 0;
  padding-left: 0;
  background: #1a6c8a;
  overflow: hidden;
  padding: 0;
}

.hor_menu a:hover {
  background: #ADC0CE
}

li.hor_menu {
  float: left;
}

ul.ver_menu {
  list-style: none;
  padding-left: 0;
  background: #1a8a65;
  overflow: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  margin-top: 0;
  left: 8px;
  display: none;
}

ul.ver_menu2 {
  list-style: none;
  padding-left: 0;
  background: #1a8a65;
  overflow: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  margin-top: 0;
  left: 154px;
  display: none;
}

ul.ver_menu3 {
  list-style: none;
  padding-left: 0;
  background: #1a8a65;
  overflow: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  margin-top: 0;
  left: 315px;
  display: none;
}

ul li:hover>ul {
  visibility: visible;
  opacity: 1;
  display: block;
}








.goog {
  display: none;
}
#chmap {
opacity: 0;
}

.map{
  
}
#chmap:checked~.goog {
  display: block;
}
.allright {
  opacity: 0.5;
    
}
#read{
  position: absolute;
  margin: -30px 0 0 350px; 
}

#read:checked~ .allright{
  opacity: 1;
}
.lab1 {
  cursor: pointer;
}