* {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black; */
}


.a3 {
    width: 297mm;
    height: 440mm;

}

.main {
    width: 296mm;
    display: grid;
    grid-template-columns: 148mm 50mm 24mm 24mm 50mm;
    grid-template-rows: 32mm 9mm 46mm 234mm 119mm;
    grid-template-areas: "header header header header header"
        "prolet empty empty empty empty"
        "logo stalin stalin stalin stalin"
        "akt prikaz prikaz prikaz prikaz"
        "akt denpo denpo denpo denpo"
    ;
}


.header {
    grid-area: header;
    text-align: center;
    align-self: flex-end;
}


.prolet {
    grid-area: prolet;
    align-self: flex-end;
    text-align: right;
}

.logo {
    grid-area: logo;
}

.com {
    display: grid;
    grid-template-columns: 29mm 90mm 29mm;
    grid-template-rows: 34mm 6mm 6mm;
    grid-template-areas: "one one one"
        "two two two"
        "three four five"
        ;
}

.stalin {
    grid-area: stalin;
    border-bottom: 5px solid black;
}

.verh{
    display: grid;
    grid-template-columns: 74mm 74mm;
    grid-template-areas: "juk tend";
}
.juk{
    grid-area: juk;
}
.tend{
    grid-area: tend;
}

.one {
    display: grid;
    grid-column: one;
    grid-template-columns: 25mm 138mm;
    grid-template-areas: "/1/2";
    justify-items: stretch;
    align-items: flex-start;
}

.two {
    grid-area: two;
    /* justify-content: space-between; */

}

.three {
    grid-area: three;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 5px solid black;
    
    
    }

.four {
    grid-area: four;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 5px solid black;
}
.five {
    grid-area: five;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 5px solid black;
}
.akt {
    grid-area: akt;
}

.prikaz {
    grid-area: prikaz;
}

.denpo {
    grid-area: denpo;
}
.pic{
    width: 100%;
    /* float: right; */
}