* {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black; */
}


.a3 {
    margin: 20pt;
    width: 297mm;
    height: 440mm;

}

.main {
    display: grid;
    grid-template-columns: 25mm 45mm 45mm 30mm 50mm 25mm 25mm 45mm;
    grid-template-rows: 32mm 9mm 34mm 6mm 6mm 205mm 20mm 6mm 13mm 108mm;
}


.header {
    grid-area: 1/1/2/9;

}


.prolet {
    grid-area: 2/1/3/5;
}

.logoImg {
    grid-area: 3/1/4/2;
}

.logoName {
    grid-area: 3/2/4/5;
}

.organ {
    grid-area: 4/1/5/5;
}

.three {
    grid-area: 5/1/6/2;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 5px solid black;
}

.four {
    grid-area: 5/2/6/4;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 5px solid black;
}

.five {
    grid-area: 5/4/6/5;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 5px solid black;
}

.akt {
    grid-area: 6/1/7/5;
}

.juk {
    grid-area: 7/1/8/3;
}

.tend {
    grid-area: 7/3/8/5;
}

.aktSvi {
    grid-area: 8/1/9/5;
}

.spat {
    grid-area: 9/1/10/3;
}

.tassi {
    grid-area: 9/3/10/5;
}

.ukaz {
    grid-area: 10/1/11/5;
    margin-right: 10pt;
}

.stalin {
    grid-area: 3/5/6/9;
    border-bottom: 5px solid black;
}

.prikaz {
    grid-area: 6/5/7/9;
}

.prikazBlock {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 5fr;
}

.prikazHead {
    grid-area: 1/1/2/3;
}

.prikazText {
    grid-area: 2/1/2/3;
    column-width: 50%;
    column-count: 2;
    column-gap: 4%;

}

.verh {
    grid-area: 7/5/8/9;

}

.hisDay {
    grid-area: 10/5/11/9;
}

.hisDayBlock {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 5fr;
}

.hisDayHead {
    grid-area: 1/1/2/4;
}

.hisDayText {
    grid-area: 2/1/3/4;
    column-width: 33%;
    column-count: 3;
    column-gap: 4%;
}

.one {
    display: grid;
    grid-column: one;
    grid-template-columns: 25mm 138mm;
    grid-template-areas: "/1/2";
    justify-items: stretch;
    align-items: flex-start;
}

.two {
    grid-area: two;
    /* justify-content: space-between; */

}






.denpo {
    grid-area: denpo;
}

.pic {
    width: 100%;
    /* float: right; */
}