.cont {
  
  width: 100%;
  margin: auto;
}

#burg,
[for=burg] {
  display: none;
  position: relative;
  width: 25px;
  top: 10px;
  text-align: right;
}

nav {
  display: block;
  width: 100%;
  margin: 0 auto 10%;
}

a {
  text-decoration: none;
  display: block;
  padding: 1px;
  border-right: 1px solid #ADC0CE;
  background: rgba(199, 115, 248, 0.3);
  color: #000000;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  background: #1a6c8a;
  overflow: hidden;
  padding: 0;
}

a:hover {
  background: #ADC0CE
}

li {
  float: left;
}

@media screen and (max-width:320px) {
  .cont {
    
    width: 90%;
    margin: auto;
  }

  [for=burg] {
    display: block;
  }

  nav {
    display: none;
    margin-top: 10px;

  }


  #burg:checked+label+nav {
    display: block;
  }

  a {
    text-decoration: none;
    font-size: 80%;
    display: block;
    padding: 1em;
    border-right: 1px solid #ADC0CE;
    background: rgba(199, 115, 248, 0.3);
    color: #000000;
  }

  ul {
    list-style: none;
    margin: 0;
    background: #1a6c8a;
    overflow: hidden;
    padding: 0;
  }


  li {
    float: none;
  }



}

label {
  font-family: fontello;
  font-size: 150%;
}